body {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  background: linear-gradient(
    0deg,
    rgba(2, 24, 89, 1) 0%,
    rgba(4, 51, 191, 1) 50%,
    rgba(11, 158, 217, 1) 100%
  );
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  padding: 0 25px;
}

section h1,
section h2 {
  font-size: 64px;
  font-weight: 200;
  color: #fff;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  section h1,
  section h2 {
    font-size: 42px;
  }
}

#page-1 h1 {
  position: relative;
  color: #fff;
}

#page-1 h2 {
  position: absolute;
  opacity: 0;
}

#page-1 .wing {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(2, 24, 89, 1);
}
#page-1 .right-wing {
  left: auto;
  right: 0;
}

/* #page-2 {
  background-color: lightblue;
} */

/* #page-3 {
  background-color: lightgreen;
} */
